section.features
      .feature
        svg.feature__icon
          use(xlink:href='img/sprite.svg#icon-global')
        h4.heading-4.heading-4--dark World&apos;s best luxury homes
      .feature
        svg.feature__icon
          use(xlink:href='img/sprite.svg#icon-trophy')
        h4.heading-4.heading-4--dark Only the best properties
      .feature
        svg.feature__icon
          use(xlink:href='img/sprite.svg#icon-map-pin')
        h4.heading-4.heading-4--dark
          | All homes in in top locations
      .feature
        svg.feature__icon
          use(xlink:href='img/sprite.svg#icon-key')
        h4.heading-4.heading-4--dark New home in one week
      .feature
        svg.feature__icon
          use(xlink:href='img/sprite.svg#icon-presentation')
        h4.heading-4.heading-4--dark Top 1% realtors
      .feature
        svg.feature__icon
          use(xlink:href='img/sprite.svg#icon-lock')
        h4.heading-4.heading-4--dark Secure payments on nexter