footer.footer
      ul.nav
        li.nav__item
          a.nav__link(href='#') Find your dream home
        li.nav__item
          a.nav__link(href='#') Request proposal
        li.nav__item
          a.nav__link(href='#') Contact us
        li.nav__item
          a.nav__link(href='#') Come work with us!