header.header
      img.header__logo(src='img/logo.png' alt='Nexter logo')
      h3.heading-3 Your own home:
      h1.heading-1 The ultimate personal freedom
      button.btn.header__btn View our properties
      .header__seenon-text Seen on
      .header__seenon-logos
        img(src='img/logo-bbc.png' alt='Seen on logo 1')
        img(src='img/logo-forbes.png' alt='Seen on logo 2')
        img(src='img/logo-techcrunch.png' alt='Seen on logo 3')
        img(src='img/logo-bi.png' alt='Seen on logo 4')