section.homes
      .home
        img.home__img(src='img/house-1.jpeg' alt='House 1')
        svg.home__like
          use(xlink:href='img/sprite.svg#icon-heart-full')
        h5.home__name Beautiful Familiy House
        .home__location
          svg
            use(xlink:href='img/sprite.svg#icon-map-pin')
          p USA
        .home__rooms
          svg
            use(xlink:href='img/sprite.svg#icon-profile-male')
          p 5 rooms
        .home__area
          svg
            use(xlink:href='img/sprite.svg#icon-expand')
          p
            | 325 m
            sup 2
        .home__price
          svg
            use(xlink:href='img/sprite.svg#icon-key')
          p $1,200,000
        button.btn.home__btn Contact realtor
      .home
        img.home__img(src='img/house-2.jpeg' alt='House 2')
        svg.home__like
          use(xlink:href='img/sprite.svg#icon-heart-full')
        h5.home__name Modern Glass Villa
        .home__location
          svg
            use(xlink:href='img/sprite.svg#icon-map-pin')
          p Canada
        .home__rooms
          svg
            use(xlink:href='img/sprite.svg#icon-profile-male')
          p 6 rooms
        .home__area
          svg
            use(xlink:href='img/sprite.svg#icon-expand')
          p
            | 450 m
            sup 2
        .home__price
          svg
            use(xlink:href='img/sprite.svg#icon-key')
          p $2,750,000
        button.btn.home__btn Contact realtor
      .home
        img.home__img(src='img/house-3.jpeg' alt='House 3')
        svg.home__like
          use(xlink:href='img/sprite.svg#icon-heart-full')
        h5.home__name Cozy Country House
        .home__location
          svg
            use(xlink:href='img/sprite.svg#icon-map-pin')
          p UK
        .home__rooms
          svg
            use(xlink:href='img/sprite.svg#icon-profile-male')
          p 4 rooms
        .home__area
          svg
            use(xlink:href='img/sprite.svg#icon-expand')
          p
            | 250 m
            sup 2
        .home__price
          svg
            use(xlink:href='img/sprite.svg#icon-key')
          p $850,000
        button.btn.home__btn Contact realtor
      .home
        img.home__img(src='img/house-4.jpeg' alt='House 4')
        svg.home__like
          use(xlink:href='img/sprite.svg#icon-heart-full')
        h5.home__name Large Rustical Villa
        .home__location
          svg
            use(xlink:href='img/sprite.svg#icon-map-pin')
          p Portugal
        .home__rooms
          svg
            use(xlink:href='img/sprite.svg#icon-profile-male')
          p 6 rooms
        .home__area
          svg
            use(xlink:href='img/sprite.svg#icon-expand')
          p
            | 480 m
            sup 2
        .home__price
          svg
            use(xlink:href='img/sprite.svg#icon-key')
          p $1,950,000
        button.btn.home__btn Contact realtor
      .home
        img.home__img(src='img/house-5.jpeg' alt='House 5')
        svg.home__like
          use(xlink:href='img/sprite.svg#icon-heart-full')
        h5.home__name Majestic Palace House
        .home__location
          svg
            use(xlink:href='img/sprite.svg#icon-map-pin')
          p Germany
        .home__rooms
          svg
            use(xlink:href='img/sprite.svg#icon-profile-male')
          p 18 rooms
        .home__area
          svg
            use(xlink:href='img/sprite.svg#icon-expand')
          p
            | 4230 m
            sup 2
        .home__price
          svg
            use(xlink:href='img/sprite.svg#icon-key')
          p $9,500,000
        button.btn.home__btn Contact realtor
      .home
        img.home__img(src='img/house-6.jpeg' alt='House 6')
        svg.home__like
          use(xlink:href='img/sprite.svg#icon-heart-full')
        h5.home__name Modern Familiy Apartment
        .home__location
          svg
            use(xlink:href='img/sprite.svg#icon-map-pin')
          p Italy
        .home__rooms
          svg
            use(xlink:href='img/sprite.svg#icon-profile-male')
          p 3 rooms
        .home__area
          svg
            use(xlink:href='img/sprite.svg#icon-expand')
          p
            | 180 m
            sup 2
        .home__price
          svg
            use(xlink:href='img/sprite.svg#icon-key')
          p $600,000
        button.btn.home__btn Contact realtor