.story__pictures
      img.story__img--1(src='img/story-1.jpeg' alt='Couple with new house')
      img.story__img--2(src='img/story-2.jpeg' alt='New house')
    .story__content
      h3.heading-3.mb-sm Happy Customers
      h2.heading-2.heading-2--dark.mb-md
        | &ldquo;The best decision of our lives&rdquo;
      button.btn Find your own home